*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 100%;
}
:root {
  --index: calc(1vw + 1vh);
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #35889a;
}

.slider {
  width: calc(var(--index) * 50);
  height: calc(var(--index) * 20);
  position: relative;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  /* background-color: rgb(191, 222, 104); */
  height: 100%;
}

.slider__container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--index);
  position: absolute;
  width: 100%;
  height: 100%;
  /* border: 3px solid rgb(27, 3, 208); */
  overflow: hidden;
}

.slider__item {
  min-width: calc(var(--index) * 16);
  padding-bottom: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 8px;
  background: rgb(0, 0, 0, 0.3);
  overflow: hidden;
	cursor: pointer;
	box-shadow: 0px 0px 20px -5px rgb(0, 0, 0);
}

.slider__image-block {
  width: 100%;
  aspect-ratio: 1;
  background-position: top;
  background-size: cover;
}
.slider__title {
  color: white;
}
.slider__text {
  color: white;
  padding: 0 10px;
}

.slider__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  aspect-ratio: 1;
  font-size: 3rem;
  color: white;
  cursor: pointer;
  z-index: 2;
	border-radius: 50%;
	border: 1px solid black;
	background: none;
	overflow: hidden;
}

.slider__button:hover{
	color: black;
	background: rgb(0, 0, 0, .2);
}

.slider__button-previous {
  left: 1vw;
}

.slider__button-next {
  right: 1vw;
}

.slider-indicators {
  position: fixed;
  top: 5%;
  left: 50%;
  translate: -50% 0%;
  /* width: 30%; */
  /* height: clamp(8px, .8rem, 1.8rem); */
  display: flex;
  justify-content: space-between;
	/* gap: 4%; */
	z-index: 1;
}

.slider-indicators__indicator:not(:first-child){
	margin-left: 5px;
}

.slider-indicators__indicator{
	width: 10px;
	height: 10px;
	/* display: flex;
	flex: 1; */
	border-radius: 50%;
	background: gray;
	cursor: pointer;
	z-index: 5;
	transition: .5s;
}

.slider-indicators__indicator:not(.active):hover {
	background: rgb(255, 255, 255)
}

.active {
  background: rgb(255, 255, 255);
	scale: 1.5;
}

.to-left {
  -webkit-transform: translate(calc(var(--index) * -17) 0);
  translate: calc(var(--index) * -17) 0;
  transition: 1s;
}

.to-right {
  -webkit-transform: translate(calc(var(--index) * 17) 0);
  translate: calc(var(--index) * 17) 0;
  transition: 1s;
}

.slider__item_hidden-previous,
.slider__item_hidden-next {
  scale: 0.8;
}

.slider__item_previous,
.slider__item_next {
  scale: 0.9;
	transform: perspective(500px) rotateY(10deg);
}

.slider__item_previous{
	transform: perspective(500px) rotateY(10deg);
}
.slider__item_next {
	transform: perspective(500px) rotateY(-10deg);
}

.slider__item_center {
  scale: 1.2;
  z-index: 1;
}

.bottom-section {
  background-color: black;
  width: 100vw;
  height: 100vh;
}
